label{
    margin: 5px;
}
h2{
    margin: 5px;
    padding-right: 5px;
}
h1{
    position: relative;
    margin-left: 20px;
    padding: 10px;
}
button .btn.btn-primary.pull-right{
    margin: 20px;
}
.btn-group{
    padding: 0px 20px 0px 20px;
}